body{
  font-family: 'Montserrat';
}
  
h1{
  text-align: center;
  font-size: 40px;
  color: #ff604f;
}

h2, h3 {
    color: #ff604f;
  }
[contenteditable="true"]:focus, a:focus, .chip:focus {
  outline: none;
}

input[type=text], input[type=password], input[type=datetime-local], input[type=date] {
  height: 25px;
  border-radius: 2px;
  border: none;
  font-family: 'Montserrat';
  padding: 0 4px;
  border: #b9b9b9 1px solid
}
input[type=text]:focus, input[type=password]:focus, input[type=datetime-local]:focus, input[type=date]:focus {
  border: 2px solid #ff604f !important;
}
/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
  width: 190px !important;
  -webkit-appearance: none;
  display: inline-block !important;
  visibility: visible !important;
}

input[type="date"], focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}
  
html {
  padding: 30px;
}
label {
  font-size: 16px;
  margin-bottom: 4px;
  color: #787878;
}
input:focus, button:focus {
  outline:none;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .6);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 700px;
  margin: 0px auto;
  padding: 10px 30px 0 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}