/*#region Global*/
.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 220px;
  background-color: #ff604f;
  z-index: -1;
}

.tips {
  text-align: center;
  font-size: 40px;
  color: #ff604f;
}
.tips{
  color: #909090;
}


.main {
  padding: 0 50px;
  border-radius: 3px;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  z-index: 1;
  border: 1px solid #dbdbdb;
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
}
.main {
  background-color: white;
}
/*#endregion */

/*#region Form panel */
.main-form {
  display: flex;
  flex-direction: column;
}

.input-row > input {
  width: 400px;
  max-width: 94%;
}

.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.state-valid {
  color: green;
}
.state-invalid, .error {
  color: red;
}
.warning {
  color: orange;
}

.inputError {
  border: 1px solid red !important;
}
.inputValid {
  background-color: white !important;
  border: 1px solid green !important;
}

.country-name, .hired-label {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.chip {
  display: inline-block;
  padding: 0 10px 0 5px;
  height: 25px;
  font-size: 13px;
  line-height: 25px;
  border: 1px solid #dbdbdb;
  border-radius: 25px;
  background-color: white;
  cursor: pointer;
  margin-right: 5px;
  margin-bottom: 5px;
}
.chip img {
  float: left;
  margin: 2.5px 2.5px 0 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.chip:hover, .chip:focus {
  background-color: rgba(255,96,76,.1)
}

.selectedCountry {
  /* background-color: #ff604f !important; */
  background-color: #ff604f !important;
  color: white;
}

.submit-btn {
  background-color: #ff604f;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  height: 50px;
  border-radius: 3px;
  padding: 0;
  border: none;
  cursor: pointer;
  margin: 50px 50px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
.submit-btn:focus {
  border: 1px solid black !important;
}
.btnDisabled {
  cursor: not-allowed;
}

.fa-check {
  margin-right: 5px;
}

.checkbox-container {
  display: flex;
}
.hired-label {
  align-self: flex-end;
  margin-left: 5px;
}
.pwd-forgotten {
  color: #787878;;
  font-size: 12px;
}
/*#endregion */

/*#region Custom Checkmark */
/* Hide the browser's default checkbox */
.hired-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
/* Create a custom checkbox */
.checkmark {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark, .checkmark:focus {
  background-color: rgba(255,96,76,.1);
  outline: none;
}
.checkmark:focus {
  border: 2px solid #000 !important;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #ff604f;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  display: none;
}
/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  padding-left: 14px;
  padding-top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-50deg);
  -ms-transform: rotate(-50deg);
  transform: rotate(-50deg);
}
/*#endregion */

/*#region Submit button tooltip */
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.error-item {
  text-align: left;
}
.error-list {
  margin: 5px;
  padding: 0 0 0 20px;
}
/*#endregion */

/*#region Result panel */
.results {
  display: flex;
  flex-direction: column;
}
.result-row {
  padding: 7px 0;
}
.result-icon {
  font-size: 1.5em;
  width: 40px;
}
/*#endregion */
