<template>
  <div>
    <password-modal v-if="showPasswordModal" @close="showPasswordModal = false"></password-modal>
    <results-modal v-if="showResultsModal" @close="showResultsModal = false" :name="allValues.name" :email="allValues.email" :password="allValues.password" :country="allValues.country" :date="allValues.date" :hired="allValues.active"></results-modal>
    <div class="top-bar"></div>
    <div class="main">
      <h1>{{ title }}</h1>
      <form class="main-form" novalidate="true" @submit.prevent="validateForm">
        <div class="form-section">
          <div class="title-section">
            <h2>Personal informations</h2>
          </div>
          <div class="field">
            <label for="name">Name</label>
            <div class="input-row">
              <input type="text" tabindex="1" id="name" :class="{ inputError: name.isValid != null && !name.isValid, inputValid: name.isValid != null && name.isValid }" v-model="name.value" maxlength="30" @blur="validateName" @keyup="editName">
              <i class="fas fa-check-circle state-valid" v-if="name.isValid != null && name.isValid"></i>
              <i class="fas fa-exclamation-circle state-invalid" v-if="name.isValid != null && !name.isValid"></i>
            </div>
            <span class="warning" v-show="name.showWarning">Your name can not exceed 30 characters.</span>
            <span class="error" v-show="name.isValid != null && !name.isValid">Your name is required.</span>
          </div>
          <div class="field">
            <label for="email">Email</label>
            <div class="input-row">
              <input type="text" tabindex="2" id="email" :class="{ inputError: email.isValid != null && !email.isValid, inputValid: email.isValid != null && email.isValid }" v-model="email.value" @blur="validateEmail" @keyup="correctEmail">
              <i class="fas fa-check-circle state-valid" v-if="email.isValid != null && email.isValid"></i>
              <i class="fas fa-exclamation-circle state-invalid" v-if="email.isValid != null && !email.isValid"></i>
            </div>
            <span class="error" v-show="email.isValid != null && !email.isValid">{{ email.errorMessage }}</span>
          </div>
          <div class="field">
            <label for="password">Password</label>
            <div class="input-row">
              <input type="password" tabindex="3" id="password" :class="{ inputError: password.isValid != null && !password.isValid, inputValid: password.isValid != null && password.isValid }" v-model="password.value" @blur="validatePassword" @keyup="editPassword">
              <i class="fas fa-check-circle state-valid" v-if="password.isValid != null && password.isValid"></i>
              <i class="fas fa-exclamation-circle state-invalid" v-if="password.isValid != null && !password.isValid"></i>
            </div>
            <a class="pwd-forgotten" href="#" @click="forgottenPassword">Forgotten password ?</a>
            <span class="error" v-show="password.isValid != null && !password.isValid">Your password is required.</span>
          </div>
          
          <div class="field">
            <label for="country">Country</label>
            <div>
              <div v-for="country of countries.list" tabindex="4" id="country" class="chip" :class="{selectedCountry: country.selected}" @click="selectCountry(country)" @keyup.enter="selectCountry(country)">
                <img :src="country.image" :alt="country" width="96" height="96">
                <span class="country-name">{{ country.name }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-section">
          <div class="title-section">
            <h2>Recruitment questions</h2>
          </div>
          <div class="field">
            <label for="date">Date</label>
            <div class="input-row">
              <input type="date" tabindex="5" id="date" :class="{ inputError: date.isValid != null && !date.isValid, inputValid: date.isValid != null && date.isValid }" v-model="date.value" @blur="validateDate">
              <i class="fas fa-check-circle state-valid" v-if="date.isValid != null && date.isValid"></i>
              <i class="fas fa-exclamation-circle state-invalid" v-if="date.isValid != null && !date.isValid"></i>
            </div>
            <span class="error" v-show="date.dirty && !date.value">A date is required.</span>
          </div>          
          
          <div class="field">
            <div class="checkbox-container" @click="toggleHired">
              <input type="checkbox" v-model="hired" class="hired-checkbox" >
              <div tabindex="6" @keyup.enter="toggleHired" class="checkmark"></div>
              <label class="hired-label">Should we hire him ?</label>
            </div>
          </div>
        </div>
        <button type="submit" keyup.enter="validateForm" tabindex="7" class="submit-btn tooltip" :disabled=!formValid :class="{ btnDisabled: !formValid }">
          <i class="fa fa-check"></i>Send information
          <span class="tooltiptext" v-if="!formValid">Following fields are not valid:
            <ul class="error-list">
              <li v-for="error of invalidFields" class="error-item"> {{ error }}</li>
            </ul>
          </span></button>
      </form>
    </div>
  </div>
</template>


<script>
import PasswordModal from './PasswordModal.vue'
import ResultsModal from './ResultsModal.vue'
import Vue from 'vue'

export default {
  data () {
    return {
      title: 'Karos Form',
      info: 'Please read the README.md file for the instructions 📕',
      showPasswordModal: false,
      showResultsModal: false,
      formInvalid: 0,
      allValues: null,
      name: {
        value: '',
        isValid: null,
        showWarning: false
      },
      email: {
        value: '',
        isValid: null,
        errorMessage: ''
      },
      password: {
        value: '',
        isValid: null,
      },
      date: {
        value: null,
        isValid: null,
        dirty: false
      },
      countries: {
        list: [
          { selected: false, name: 'France',  image: 'https://i.pinimg.com/originals/c8/22/17/c82217c23374132e2497988dc8a19adb.png'  },
          { selected: false, name: 'Germany', image: 'http://www.icône.com/images/icones/3/2/flag-be.png' },
          { selected: false, name: 'Switzerland', image: 'https://images.apocalx.com/drapeaux/128/CH.png' },
          { selected: false, name: 'England', image: 'http://img4.hostingpics.net/pics/195627drapeauangleterre.jpg' }
        ]
      },
      hired: true
    }
  },


  methods: {
    forgottenPassword (e) {
      e.preventDefault();
      this.showPasswordModal = true;
    },
    validateName () {
      this.name.isValid = this.name.value.length > 0 ? true : false;
    },
    editName () {
      this.name.showWarning = this.name.value.length > 29 ? true : false;
      if (this.name.isValid == false) {
        this.validateName();
      }
    },
      
    validateEmail () {
      var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      this.email.isValid = emailRegex.test(String(this.email.value).toLowerCase());
      this.email.errorMessage = this.email.value.length == 0 ? "Email is required." : "The format of your email is not valid."
    },
    // when the field 'email' is dirty, removes the error message when its become valid
    correctEmail () {
      var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      let isValid = emailRegex.test(String(this.email.value).toLowerCase());
      if (isValid) {
          this.email.isValid = true;
      }
      if (this.email.isValid == false) {
        this.validateEmail();
      }
    },

    validatePassword () {
      this.password.isValid = this.password.value.length > 0 ? true : false;
    },
    editPassword () {
      if (this.password.isValid == false) {
        this.validatePassword();
      }
    },

    validateDate () {
      this.date.dirty = true;
      this.date.isValid = this.date.value != null && this.date.value != "";
    },

    toggleHired () {
      this.hired = !this.hired;
    },

    selectCountry (country) {
      this.countries.list.forEach(c => {
        c.selected = false
      });
      country.selected = true;
    },
    getSelectedCountry () {
      let selectedCountry = this.countries.list.find(c => c.selected);
      if (selectedCountry) {
        return selectedCountry.name;
      }
      return null;
    },

    validateForm () {
      let values = {
        "name": this.name.value.trim(),
        "email": this.email.value.trim(),
        "password": this.MD5(this.password.value),
        "date": this.formatDate(),
        "active": this.hired,
        "country": this.getSelectedCountry()
      };
      this.allValues = values;
      console.log(values);
      this.showResultsModal = true;
    },

    //#region Helpers
    MD5 (string) {
      function RotateLeft(lValue, iShiftBits) {
              return (lValue<<iShiftBits) | (lValue>>>(32-iShiftBits));
      }
      function AddUnsigned(lX,lY) {
        var lX4,lY4,lX8,lY8,lResult;
        lX8 = (lX & 0x80000000);
        lY8 = (lY & 0x80000000);
        lX4 = (lX & 0x40000000);
        lY4 = (lY & 0x40000000);
        lResult = (lX & 0x3FFFFFFF)+(lY & 0x3FFFFFFF);
        if (lX4 & lY4) {
          return (lResult ^ 0x80000000 ^ lX8 ^ lY8);
        }
        if (lX4 | lY4) {
          if (lResult & 0x40000000) {
            return (lResult ^ 0xC0000000 ^ lX8 ^ lY8);
          } else {
            return (lResult ^ 0x40000000 ^ lX8 ^ lY8);
          }
        } else {
          return (lResult ^ lX8 ^ lY8);
        }
      }
   
      function F(x,y,z) { return (x & y) | ((~x) & z); }
      function G(x,y,z) { return (x & z) | (y & (~z)); }
      function H(x,y,z) { return (x ^ y ^ z); }
      function I(x,y,z) { return (y ^ (x | (~z))); }
   
      function FF(a,b,c,d,x,s,ac) {
        a = AddUnsigned(a, AddUnsigned(AddUnsigned(F(b, c, d), x), ac));
        return AddUnsigned(RotateLeft(a, s), b);
      };
   
      function GG(a,b,c,d,x,s,ac) {
        a = AddUnsigned(a, AddUnsigned(AddUnsigned(G(b, c, d), x), ac));
        return AddUnsigned(RotateLeft(a, s), b);
      };
   
      function HH(a,b,c,d,x,s,ac) {
        a = AddUnsigned(a, AddUnsigned(AddUnsigned(H(b, c, d), x), ac));
        return AddUnsigned(RotateLeft(a, s), b);
      };
   
      function II(a,b,c,d,x,s,ac) {
        a = AddUnsigned(a, AddUnsigned(AddUnsigned(I(b, c, d), x), ac));
        return AddUnsigned(RotateLeft(a, s), b);
      };
   
      function ConvertToWordArray(string) {
        var lWordCount;
        var lMessageLength = string.length;
        var lNumberOfWords_temp1=lMessageLength + 8;
        var lNumberOfWords_temp2=(lNumberOfWords_temp1-(lNumberOfWords_temp1 % 64))/64;
        var lNumberOfWords = (lNumberOfWords_temp2+1)*16;
        var lWordArray=Array(lNumberOfWords-1);
        var lBytePosition = 0;
        var lByteCount = 0;
        while ( lByteCount < lMessageLength ) {
          lWordCount = (lByteCount-(lByteCount % 4))/4;
          lBytePosition = (lByteCount % 4)*8;
          lWordArray[lWordCount] = (lWordArray[lWordCount] | (string.charCodeAt(lByteCount)<<lBytePosition));
          lByteCount++;
        }
        lWordCount = (lByteCount-(lByteCount % 4))/4;
        lBytePosition = (lByteCount % 4)*8;
        lWordArray[lWordCount] = lWordArray[lWordCount] | (0x80<<lBytePosition);
        lWordArray[lNumberOfWords-2] = lMessageLength<<3;
        lWordArray[lNumberOfWords-1] = lMessageLength>>>29;
        return lWordArray;
      };
   
      function WordToHex(lValue) {
        var WordToHexValue="",WordToHexValue_temp="",lByte,lCount;
        for (lCount = 0;lCount<=3;lCount++) {
          lByte = (lValue>>>(lCount*8)) & 255;
          WordToHexValue_temp = "0" + lByte.toString(16);
          WordToHexValue = WordToHexValue + WordToHexValue_temp.substr(WordToHexValue_temp.length-2,2);
        }
        return WordToHexValue;
      };
   
      function Utf8Encode(string) {
        string = string.replace(/\r\n/g,"\n");
        var utftext = "";

        for (var n = 0; n < string.length; n++) {
          var c = string.charCodeAt(n);

          if (c < 128) {
            utftext += String.fromCharCode(c);
          }
          else if((c > 127) && (c < 2048)) {
            utftext += String.fromCharCode((c >> 6) | 192);
            utftext += String.fromCharCode((c & 63) | 128);
          }
          else {
            utftext += String.fromCharCode((c >> 12) | 224);
            utftext += String.fromCharCode(((c >> 6) & 63) | 128);
            utftext += String.fromCharCode((c & 63) | 128);
          }
        }
              return utftext;
      };
   
      var x=Array();
      var k,AA,BB,CC,DD,a,b,c,d;
      var S11=7, S12=12, S13=17, S14=22;
      var S21=5, S22=9 , S23=14, S24=20;
      var S31=4, S32=11, S33=16, S34=23;
      var S41=6, S42=10, S43=15, S44=21;
   
      string = Utf8Encode(string);
   
      x = ConvertToWordArray(string);
   
      a = 0x67452301; b = 0xEFCDAB89; c = 0x98BADCFE; d = 0x10325476;
   
      for (k=0;k<x.length;k+=16) {
        AA=a; BB=b; CC=c; DD=d;
        a=FF(a,b,c,d,x[k+0], S11,0xD76AA478);
        d=FF(d,a,b,c,x[k+1], S12,0xE8C7B756);
        c=FF(c,d,a,b,x[k+2], S13,0x242070DB);
        b=FF(b,c,d,a,x[k+3], S14,0xC1BDCEEE);
        a=FF(a,b,c,d,x[k+4], S11,0xF57C0FAF);
        d=FF(d,a,b,c,x[k+5], S12,0x4787C62A);
        c=FF(c,d,a,b,x[k+6], S13,0xA8304613);
        b=FF(b,c,d,a,x[k+7], S14,0xFD469501);
        a=FF(a,b,c,d,x[k+8], S11,0x698098D8);
        d=FF(d,a,b,c,x[k+9], S12,0x8B44F7AF);
        c=FF(c,d,a,b,x[k+10],S13,0xFFFF5BB1);
        b=FF(b,c,d,a,x[k+11],S14,0x895CD7BE);
        a=FF(a,b,c,d,x[k+12],S11,0x6B901122);
        d=FF(d,a,b,c,x[k+13],S12,0xFD987193);
        c=FF(c,d,a,b,x[k+14],S13,0xA679438E);
        b=FF(b,c,d,a,x[k+15],S14,0x49B40821);
        a=GG(a,b,c,d,x[k+1], S21,0xF61E2562);
        d=GG(d,a,b,c,x[k+6], S22,0xC040B340);
        c=GG(c,d,a,b,x[k+11],S23,0x265E5A51);
        b=GG(b,c,d,a,x[k+0], S24,0xE9B6C7AA);
        a=GG(a,b,c,d,x[k+5], S21,0xD62F105D);
        d=GG(d,a,b,c,x[k+10],S22,0x2441453);
        c=GG(c,d,a,b,x[k+15],S23,0xD8A1E681);
        b=GG(b,c,d,a,x[k+4], S24,0xE7D3FBC8);
        a=GG(a,b,c,d,x[k+9], S21,0x21E1CDE6);
        d=GG(d,a,b,c,x[k+14],S22,0xC33707D6);
        c=GG(c,d,a,b,x[k+3], S23,0xF4D50D87);
        b=GG(b,c,d,a,x[k+8], S24,0x455A14ED);
        a=GG(a,b,c,d,x[k+13],S21,0xA9E3E905);
        d=GG(d,a,b,c,x[k+2], S22,0xFCEFA3F8);
        c=GG(c,d,a,b,x[k+7], S23,0x676F02D9);
        b=GG(b,c,d,a,x[k+12],S24,0x8D2A4C8A);
        a=HH(a,b,c,d,x[k+5], S31,0xFFFA3942);
        d=HH(d,a,b,c,x[k+8], S32,0x8771F681);
        c=HH(c,d,a,b,x[k+11],S33,0x6D9D6122);
        b=HH(b,c,d,a,x[k+14],S34,0xFDE5380C);
        a=HH(a,b,c,d,x[k+1], S31,0xA4BEEA44);
        d=HH(d,a,b,c,x[k+4], S32,0x4BDECFA9);
        c=HH(c,d,a,b,x[k+7], S33,0xF6BB4B60);
        b=HH(b,c,d,a,x[k+10],S34,0xBEBFBC70);
        a=HH(a,b,c,d,x[k+13],S31,0x289B7EC6);
        d=HH(d,a,b,c,x[k+0], S32,0xEAA127FA);
        c=HH(c,d,a,b,x[k+3], S33,0xD4EF3085);
        b=HH(b,c,d,a,x[k+6], S34,0x4881D05);
        a=HH(a,b,c,d,x[k+9], S31,0xD9D4D039);
        d=HH(d,a,b,c,x[k+12],S32,0xE6DB99E5);
        c=HH(c,d,a,b,x[k+15],S33,0x1FA27CF8);
        b=HH(b,c,d,a,x[k+2], S34,0xC4AC5665);
        a=II(a,b,c,d,x[k+0], S41,0xF4292244);
        d=II(d,a,b,c,x[k+7], S42,0x432AFF97);
        c=II(c,d,a,b,x[k+14],S43,0xAB9423A7);
        b=II(b,c,d,a,x[k+5], S44,0xFC93A039);
        a=II(a,b,c,d,x[k+12],S41,0x655B59C3);
        d=II(d,a,b,c,x[k+3], S42,0x8F0CCC92);
        c=II(c,d,a,b,x[k+10],S43,0xFFEFF47D);
        b=II(b,c,d,a,x[k+1], S44,0x85845DD1);
        a=II(a,b,c,d,x[k+8], S41,0x6FA87E4F);
        d=II(d,a,b,c,x[k+15],S42,0xFE2CE6E0);
        c=II(c,d,a,b,x[k+6], S43,0xA3014314);
        b=II(b,c,d,a,x[k+13],S44,0x4E0811A1);
        a=II(a,b,c,d,x[k+4], S41,0xF7537E82);
        d=II(d,a,b,c,x[k+11],S42,0xBD3AF235);
        c=II(c,d,a,b,x[k+2], S43,0x2AD7D2BB);
        b=II(b,c,d,a,x[k+9], S44,0xEB86D391);
        a=AddUnsigned(a,AA);
        b=AddUnsigned(b,BB);
        c=AddUnsigned(c,CC);
        d=AddUnsigned(d,DD);
      }

      var temp = WordToHex(a)+WordToHex(b)+WordToHex(c)+WordToHex(d);

      return temp.toLowerCase();
    },
    addZero (i) {
      if (i < 10) {
          i = "0" + i;
      }
      return i;
    },
    formatDate () {
      var d = new Date();
      var h = this.addZero(d.getHours());
      var m = this.addZero(d.getMinutes());
      var s = this.addZero(d.getSeconds());
      return `${this.date.value}T${h}:${m}:${s}.${d.getTimezoneOffset()}z`;
    }
    //#endregion
  },


  computed: {
    selectedCountry () {
      var selected = this.countries.list.find(c => c.selected)
      if(selected) {
        return selected.name;
      }
      return null;
    },
    formValid () {
      let isValid =  this.name.isValid == true
        && this.email.isValid == true
        && this.password.isValid == true
        && this.date.isValid == true
        && this.countries.list.find(c => c.selected) != undefined;
      return isValid;
    },
    invalidFields () {
      let invalidFields = [];
      if (this.name.isValid == null || !this.name.isValid) {
        invalidFields.push('name')
      }
      if (this.email.isValid == null || !this.email.isValid) {
        invalidFields.push('email')
      }
      if (this.password.isValid == null || !this.password.isValid) {
        invalidFields.push('password')
      }
      if (this.date.isValid == null || !this.date.isValid) {
        invalidFields.push('date')
      }
      if (this.countries.list.find(c => c.selected) == undefined) {
        invalidFields.push('country')
      }
      return invalidFields;
    }
  },


  components: {
    PasswordModal,
    ResultsModal,
  }
}
</script>

<style src="./FormComponent.scss" lang="scss">
</style>
