<template>
  <div>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <h2>Password forgotten ?</h2>
          </div>
          <form novalidate>
            <div class="field">
            <label for="email">Enter an email for recovery</label>
            <div class="input-row">
              <input type="text" tabindex="2" id="email" :class="{ inputError: email.isValid != null && !email.isValid, inputValid: email.isValid != null && email.isValid }" v-model="email.value" @blur="validateEmail" @keyup="correctEmail">
              <i class="fas fa-check-circle state-valid" v-if="email.isValid != null && email.isValid"></i>
              <i class="fas fa-exclamation-circle state-invalid" v-if="email.isValid != null && !email.isValid"></i>
            </div>
            <span class="error" v-show="email.isValid != null && !email.isValid">{{ email.errorMessage }}</span>
          </div>
            <div class="btn-layout">
              <button class="btn submit-btn" @click="$emit('close')" :disabled="!email.isValid" :class="{ btnDisabled: !email.isValid }">Send an email for a new password</button>
              <button class="btn cancel-btn" @click="$emit('close')">Cancel</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </transition>
  </div>
</template>

<script>
export default { 
  data () {
    return {
      email: {
      value: '',
      isValid: null,
      errorMessage: ''
      },
    }
  },
  methods: {
      validateEmail () {
      var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    //   this.email.isValid = emailRegex.test(String(this.email.value).toLowerCase());
      this.email.errorMessage = this.email.value.length == 0 ? "Email is required." : "The format of your email is not valid."
    },
    correctEmail () {
      var emailRegex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      let isValid = emailRegex.test(String(this.email.value).toLowerCase());
      if (isValid) {
          this.email.isValid = true;
      }
      if (this.email.isValid == false) {
        this.validateEmail();
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.btn {
  height: 50px;
  border-radius: 3px;
  padding: 0 30px;
  border: none;
  cursor: pointer;
  margin: 20px 5px;
  transition: all 0.3s ease 0s;
}
.submit-btn {
  background-color: #ff604f;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: white;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btnDisabled {
  cursor: not-allowed;
}
.cancel-btn {
    background-color: white;
    color: black;
    border: 1px solid gray;
}

.btn-layout {
    display: flex;
}
</style>

