<template>
  <div>
    <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <h2>Form successfully fullfilled</h2>
          <div class="results">
            <h3>The following application were sent to your candidate :</h3>
            <div class="result-row"><span><i class="result-icon fas fa-user"></i>{{ name }}</span></div>
            <div class="result-row"><span><i class="result-icon fas fa-envelope"></i>{{ email }}</span></div>
            <div class="result-row"><span><i class="result-icon fas fa-lock"></i>{{ password }}</span></div>
            <div class="result-row"><span><i class="result-icon fas fa-map-marker-alt"></i>{{ country }}</span></div>
            <div class="result-row"><span><i class="result-icon fas fa-calendar"></i>{{ date }}</span></div>
            <div v-if="!hired" class="result-row"><span><i class="result-icon fas fa-times"></i>Sorry, we can't hire you...</span></div>
            <div v-else class="result-row"><span><i class="result-icon fas fa-check"></i>Congrats ! We'll let you know what's next !</span></div>
          </div>
          <div class="btn-container">
            <button class="btn submit-btn" @click="$emit('close')">OK</button>
          </div>
        </div>
      </div>
    </div>
  </transition>
  </div>
</template>

<script>
export default { 
  props: {
    name: String,
    email: String,
    password: String,
    country: String,
    date: String,
    hired: Boolean,
  }
}
</script>

<style lang="scss" scoped>
span {
  color: #787878;
}
.results {
  padding: 0 0 20px 20px;
}

.btn {
  height: 50px;
  width: 500px;
  max-width: 85%;
  padding: 0 30px;
  margin: 40px 0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  background-color: #ff604f;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.btn-container {
  display: flex;
  justify-content: center;
}
</style>

