<template>
  <div>
    <form-component/>
  </div>
</template>

<script>
import FormComponent from './components/FormComponent.vue'

export default {
  components: {
    FormComponent
  }
}
</script>

<style lang="scss">
</style>
